USE [master]
GO
/****** Object:  Database [CarStore]    Script Date: 11-02-2026 8.44.24 PM ******/
CREATE DATABASE [CarStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CarStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CarStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarStore]
GO
/****** Object:  Table [dbo].[AdminLogin]    Script Date: 11-02-2026 8.44.25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUser] [nvarchar](50) NOT NULL,
	[AdminEmail] [nvarchar](100) NOT NULL,
	[AdminPass] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarBookingForPurchase]    Script Date: 11-02-2026 8.44.25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarBookingForPurchase](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[BookingDate] [datetime] NULL,
	[BookingAmount] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[RemainingAmount]  AS ([TotalPrice]-[BookingAmount]) PERSISTED,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 11-02-2026 8.44.25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [nvarchar](100) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [int] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[FuelType] [nvarchar](20) NOT NULL,
	[Transmission] [nvarchar](20) NOT NULL,
	[Mileage] [nvarchar](50) NOT NULL,
	[Engine] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](200) NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 11-02-2026 8.44.25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11-02-2026 8.44.25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[Password] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[DateJoined] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11-02-2026 8.44.25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[BookingAmount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentStatus] [varchar](50) NULL,
	[TransactionId] [varchar](100) NULL,
	[PaymentMode] [varchar](50) NULL,
	[PaymentDetails] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribe]    Script Date: 11-02-2026 8.44.25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribe](
	[SubscribeId] [int] IDENTITY(1,1) NOT NULL,
	[SubscribeMail] [nvarchar](100) NULL,
	[SubscribeDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscribeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDriveBookings]    Script Date: 11-02-2026 8.44.25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDriveBookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CarId] [int] NULL,
	[PreferredD] [date] NULL,
	[PreferredT] [time](7) NULL,
	[Status] [nvarchar](200) NULL,
	[RequestDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminLogin] ON 

INSERT [dbo].[AdminLogin] ([AdminId], [AdminUser], [AdminEmail], [AdminPass]) VALUES (1, N'Admin', N'admin@gmail.com', N'admin')
SET IDENTITY_INSERT [dbo].[AdminLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[CarBookingForPurchase] ON 

INSERT [dbo].[CarBookingForPurchase] ([BookingId], [UserId], [CarId], [BookingDate], [BookingAmount], [TotalPrice], [Status]) VALUES (1, 1, 42, CAST(N'2026-02-09T10:16:52.163' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), CAST(17500000.00 AS Decimal(18, 2)), N'Booked')
INSERT [dbo].[CarBookingForPurchase] ([BookingId], [UserId], [CarId], [BookingDate], [BookingAmount], [TotalPrice], [Status]) VALUES (2, 1, 22, CAST(N'2026-02-09T11:16:48.277' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), CAST(1499000.00 AS Decimal(18, 2)), N'Booked')
INSERT [dbo].[CarBookingForPurchase] ([BookingId], [UserId], [CarId], [BookingDate], [BookingAmount], [TotalPrice], [Status]) VALUES (3, 1, 22, CAST(N'2026-02-09T11:32:56.013' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), CAST(1499000.00 AS Decimal(18, 2)), N'Booked')
SET IDENTITY_INSERT [dbo].[CarBookingForPurchase] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarId], [CarName], [Brand], [Model], [Year], [Price], [FuelType], [Transmission], [Mileage], [Engine], [Description], [ImagePath], [Category], [Status]) VALUES (22, N'Tata Nexon EV', N'Tata', N'Nexon EV', 2023, CAST(1499000.00 AS Decimal(18, 2)), N'Electric', N'Automatic', N'312 km', N'Electric Motor', N'Electric compact SUV with modern features.', N'~/images/Electric/tata-nexon.jpg', N'Electric', N'Available')
INSERT [dbo].[Cars] ([CarId], [CarName], [Brand], [Model], [Year], [Price], [FuelType], [Transmission], [Mileage], [Engine], [Description], [ImagePath], [Category], [Status]) VALUES (23, N'Tesla Model S', N'Tesla', N'Model S', 2024, CAST(7999000.00 AS Decimal(18, 2)), N'Electric', N'Automatic', N'652 km', N'Dual Motor', N'Premium electric sedan with high performance.', N'~/images/Electric/tesla-model-s.jpg', N'Electric', N'Available')
INSERT [dbo].[Cars] ([CarId], [CarName], [Brand], [Model], [Year], [Price], [FuelType], [Transmission], [Mileage], [Engine], [Description], [ImagePath], [Category], [Status]) VALUES (24, N'Jaguar XE', N'Jaguar', N'XE', 2023, CAST(4600000.00 AS Decimal(18, 2)), N'Petrol', N'Automatic', N'13 km/l', N'2.0L Turbo', N'Luxury sporty sedan.', N'~/images/sedans/Jaguar-XE.jpeg', N'Sedans', N'Available')
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([MessageId], [Name], [Email], [Subject], [Message], [CreatedAt]) VALUES (1, N'Pritam Roy', N'pritamr@gmail.com', N'Car', N'Add more cars', CAST(N'2026-02-09T10:08:22.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([UserId], [FullName], [Email], [Phone], [Password], [State], [DateJoined], [IsActive]) VALUES (1, N'Pritam Chowdhury', N'pritamc@gmail.com', N'8172062577', N'1234', N'west bengal', CAST(N'2026-02-09T09:52:50.370' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [BookingId], [CarId], [UserId], [BookingAmount], [PaymentDate], [PaymentStatus], [TransactionId], [PaymentMode], [PaymentDetails]) VALUES (1, 3, 22, 1, CAST(1000000.00 AS Decimal(18, 2)), CAST(N'2026-02-09T11:33:00.943' AS DateTime), N'Complete', NULL, N'Net Banking', N'Bank: Axis')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D1053406E2BCF7]    Script Date: 11-02-2026 8.44.25 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarBookingForPurchase] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[CarBookingForPurchase] ADD  DEFAULT ('Booked') FOR [Status]
GO
ALTER TABLE [dbo].[Cars] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [DateJoined]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Subscribe] ADD  DEFAULT (getdate()) FOR [SubscribeDate]
GO
ALTER TABLE [dbo].[TestDriveBookings] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[TestDriveBookings] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[CarBookingForPurchase]  WITH CHECK ADD FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([CarId])
GO
ALTER TABLE [dbo].[CarBookingForPurchase]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Customers] ([UserId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([CarId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Customers] ([UserId])
GO
ALTER TABLE [dbo].[TestDriveBookings]  WITH CHECK ADD FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([CarId])
GO
ALTER TABLE [dbo].[TestDriveBookings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Customers] ([UserId])
GO
USE [master]
GO
