USE [DoctorAppoinmentDB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 11-02-2026 8.09.47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NULL,
	[PatientID] [int] NULL,
	[AppointmentDay] [nvarchar](50) NULL,
	[TimeSlot] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[AppointmentDate] [date] NULL,
	[CreateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 11-02-2026 8.09.48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FullName] [nvarchar](100) NULL,
	[Specialization] [nvarchar](100) NULL,
	[ExperienceYears] [int] NULL,
	[AvailableDays] [nvarchar](100) NULL,
	[ConsultationFee] [decimal](10, 2) NULL,
	[Address] [nvarchar](500) NULL,
	[PhoneNumber] [nvarchar](13) NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 11-02-2026 8.09.48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Age] [int] NULL,
	[Phone] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NULL,
	[CreateAt] [datetime] NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Patients__970EC3467E575791] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 11-02-2026 8.09.48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[Medicines] [nvarchar](max) NULL,
	[Advice] [nvarchar](max) NULL,
	[CreateAt] [datetime] NULL,
	[PatientID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11-02-2026 8.09.48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NULL,
	[CreateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [PatientID], [AppointmentDay], [TimeSlot], [Status], [AppointmentDate], [CreateAt]) VALUES (1, 1, 1, N'Friday', N'10:00 AM', N'Booked', CAST(N'2025-12-05' AS Date), NULL)
INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [PatientID], [AppointmentDay], [TimeSlot], [Status], [AppointmentDate], [CreateAt]) VALUES (2, 1, 1, N'Friday', N'10:00 AM', N'Booked', CAST(N'2025-12-05' AS Date), NULL)
INSERT [dbo].[Appointments] ([AppointmentID], [DoctorID], [PatientID], [AppointmentDay], [TimeSlot], [Status], [AppointmentDate], [CreateAt]) VALUES (3, 1, 1, N'Friday', N'11:00 AM', N'Booked', CAST(N'2025-12-05' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorID], [UserID], [FullName], [Specialization], [ExperienceYears], [AvailableDays], [ConsultationFee], [Address], [PhoneNumber], [Status]) VALUES (1, 1, N'Dr. Rajesh Sharma', N'Cardiologist', 10, N'Monday, Tuesday, Wednesday, Friday', CAST(700.00 AS Decimal(10, 2)), N'Amta,Howrah,711401', N'8732313234', N'Active')
INSERT [dbo].[Doctors] ([DoctorID], [UserID], [FullName], [Specialization], [ExperienceYears], [AvailableDays], [ConsultationFee], [Address], [PhoneNumber], [Status]) VALUES (3, 7, N'Dr. Ram Kumar', N'Dermatology', 5, N'Tuesday,Thursday', CAST(500.00 AS Decimal(10, 2)), N'GT Baidyabati', N'8732638323', N'Active')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [FullName], [Email], [PasswordHash], [Gender], [DateOfBirth], [Age], [Phone], [Address], [Role], [CreateAt], [Status]) VALUES (1, N'Pritam Chowdhury', N'pritamchowdhury442@gmail.com', N'12345', N'Male', CAST(N'2001-02-01' AS Date), 25, N'8172062577', N'Kalbansh Tarama Temple, Kalbansh, Amta, Howrah,711401,West Bengal', N'Patient', CAST(N'2025-10-31T11:58:03.877' AS DateTime), N'Active')
INSERT [dbo].[Patients] ([PatientID], [FullName], [Email], [PasswordHash], [Gender], [DateOfBirth], [Age], [Phone], [Address], [Role], [CreateAt], [Status]) VALUES (2, N'Pitu Chowdhury', N'pritamchowdhury@gmail.com', N'2345', N'Male', CAST(N'2010-06-15' AS Date), NULL, N'9382383792', N'Kalbansh Tarama Temple, Kalbansh, Amta, Howrah,711401,West Bengal', N'Patient', CAST(N'2025-12-05T14:12:21.773' AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([PrescriptionID], [AppointmentID], [DoctorID], [Diagnosis], [Medicines], [Advice], [CreateAt], [PatientID]) VALUES (1, 1, 1, N'High Fever', N'Paracetamol-650, Levocitrezine', N'Stay hydrated and rest', CAST(N'2025-12-21T12:48:02.623' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [CreateAt]) VALUES (1, N'Dr. Rajesh Sharma', N'rajesh.sharma@hospital.com', N'doc@123', N'Doctor', CAST(N'2025-11-01T09:39:18.700' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [CreateAt]) VALUES (2, N'Anita Verma', N'anita.verma@hospital.com', N'admin123', N'Admin', CAST(N'2025-11-01T09:39:39.680' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [CreateAt]) VALUES (7, N'Dr. Ram Kumar', N'ram@gmail.com', N'Ram123', N'Doctor', CAST(N'2025-12-10T10:16:15.953' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patients__A9D10534719FCCEA]    Script Date: 11-02-2026 8.09.48 PM ******/
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [UQ__Patients__A9D10534719FCCEA] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534F85CA562]    Script Date: 11-02-2026 8.09.48 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Booked') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Doctors] ADD  CONSTRAINT [DF_Doctors_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [DF__Patients__Role__4AB81AF0]  DEFAULT ('Patient') FOR [Role]
GO
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [DF__Patients__Create__4BAC3F29]  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [DF_Patients_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Patient]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Appointments] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescriptions_Appointments]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescriptions_Doctors]
GO
