USE [master]
GO
/****** Object:  Database [OnlineAdmission]    Script Date: 11-02-2026 8.43.12 PM ******/
CREATE DATABASE [OnlineAdmission]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineAdmission', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OnlineAdmission.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineAdmission_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OnlineAdmission_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineAdmission].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineAdmission]
GO
/****** Object:  Table [dbo].[ApplicationDocuments]    Script Date: 11-02-2026 8.43.12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationDocuments](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[PhotoIdPath] [nvarchar](200) NULL,
	[SignaturePath] [nvarchar](200) NULL,
	[MarksheetPath] [nvarchar](200) NULL,
	[DocUploadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 11-02-2026 8.43.12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CourseId] [int] NULL,
	[FullName] [nvarchar](100) NULL,
	[DOB] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[PreviousSchool] [nvarchar](100) NULL,
	[Marks] [decimal](5, 2) NULL,
	[PassingYear] [int] NULL,
	[LastQualification] [nvarchar](15) NULL,
	[Status] [nvarchar](20) NULL,
	[SubmissionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 11-02-2026 8.43.12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NULL,
	[CreateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 11-02-2026 8.43.12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NULL,
	[Duration] [nvarchar](50) NULL,
	[Fees] [decimal](10, 2) NULL,
	[ImagePath] [nvarchar](255) NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 11-02-2026 8.43.12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1000,1) NOT NULL,
	[UserId] [int] NULL,
	[ApplicationId] [int] NULL,
	[CourseId] [int] NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PaymentDetails] [nvarchar](200) NULL,
	[TransactionDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11-02-2026 8.43.12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApplicationDocuments] ON 

INSERT [dbo].[ApplicationDocuments] ([DocumentId], [ApplicationId], [PhotoIdPath], [SignaturePath], [MarksheetPath], [DocUploadDate]) VALUES (1, 1, N'~/Uploads/wbsedcl_receipt.png', N'~/Uploads/Screenshot 2025-04-24 123934.png', N'~/Uploads/Screenshot (83).png', CAST(N'2026-02-08T19:07:42.317' AS DateTime))
SET IDENTITY_INSERT [dbo].[ApplicationDocuments] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationId], [UserId], [CourseId], [FullName], [DOB], [Gender], [Address], [Email], [Phone], [PreviousSchool], [Marks], [PassingYear], [LastQualification], [Status], [SubmissionDate]) VALUES (1, 1, 1, N'ABC21', CAST(N'2008-10-08' AS Date), N'Male', N'kolkataa', N'ABC@gmail.com', N'3242354235', N'MMM', CAST(67.00 AS Decimal(5, 2)), 2022, N'12th', N'Approved', CAST(N'2026-02-08T19:06:21.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([Id], [Name], [Email], [Message], [CreateAt]) VALUES (1, N'Pritam Roy', N'pritamc@gmail.com', N'afasasas', CAST(N'2026-02-09T09:43:26.283' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [CourseName], [Duration], [Fees], [ImagePath], [UserId]) VALUES (1, N'Cyber Security', N'6 Month', CAST(12000.00 AS Decimal(10, 2)), N'Uploads/Cyber security.jpeg', NULL)
INSERT [dbo].[Courses] ([CourseId], [CourseName], [Duration], [Fees], [ImagePath], [UserId]) VALUES (3, N'Data Science', N'1 year', CAST(50000.00 AS Decimal(10, 2)), N'Uploads/Data Science.jpeg', NULL)
INSERT [dbo].[Courses] ([CourseId], [CourseName], [Duration], [Fees], [ImagePath], [UserId]) VALUES (4, N'Graphic Design', N'10 Month', CAST(30000.00 AS Decimal(10, 2)), N'Uploads/Graphic design.jpeg', NULL)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionId], [UserId], [ApplicationId], [CourseId], [Amount], [PaymentMethod], [PaymentDetails], [TransactionDate], [Status]) VALUES (1000, 1, 1, 1, CAST(12500.00 AS Decimal(10, 2)), N'Net Banking', N'Axis Bank', CAST(N'2026-02-08T19:08:01.353' AS DateTime), N'Success')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [Password], [Role]) VALUES (1, N'ABC21', N'ABC@gmail.com', N'12334', N'Student')
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Password], [Role]) VALUES (2, N'Admin', N'admin@gmail.com', N'admin', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105346582B02D]    Script Date: 11-02-2026 8.43.12 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApplicationDocuments] ADD  DEFAULT (getdate()) FOR [DocUploadDate]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [SubmissionDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Success') FOR [Status]
GO
ALTER TABLE [dbo].[ApplicationDocuments]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
USE [master]
GO
